# Boilerplate ignore files
__pycache__/
*.py[cod]
*.so

.ipynb_checkpoints/
Ship_data/CTD SOP draft.docx
Ship_data/RCA_BottleSum.psa
Ship_data/RCA_Bottle_DatCnv.psa

# I want to ignore the Data files which are already version controlled in Alfresco or Vault
Data/
Water Sampling/
ctd/
temp/

# Want to not load my ooi-user info
user_info.yaml
m2m_config.yml

# I want to avoid the files which I've downloaded
*.asc
*.bat
*.cnv
*.hex
*.XMLCON
*.cal
*.log
*.hdr
*.bl
*.psa
*.dsa
*.pdf
*.XML
*.xml
*.txt
*.bat
*.metadata
*.PNG
*~lock.*
