# Boilerplate ignore files
__pycache__/
*.py[cod]
*.so
*.nc
.ipynb_checkpoints/

# Ship Data Directory Files
Ship_data/**/*.ipynb
Ship_data/**/*.csv
Ship_data/**/*.doc[x]
Ship_data/**/*.psa
Ship_data/**/*.xls[x]
Ship_data/Argentine
Ship_data/Irminger
Ship_data/Papa
Ship_data/Pioneer
Ship_data/Southern

# Data Review Directory Files
Data_Review/Data Availability/Results/
Data_Review/**/*.csv
Data_Review/**/*.ipynb

# Metadata Review & Communications Directory Files
Metadata_Review/**/*.ipynb
Metadata_Review/**/*.csv
Metadata_Review/**/*.xlsx
Metadata_Review/**/*.sqlite
Metadata_Review/Metadata_Communications/Output/

# QARTOD Directory Files
QARTOD/*.csv
QARTOD/Results/
QARTOD/**/*.ipynb

# I want to ignore the Data files which are already version controlled in Alfresco or Vault
Data/
Water Sampling/
ctd/
temp/

# Calibration Directory files to ignore
Calibration/**/*.ipynb

# Want to not load my ooi-user info
user_info.yaml
m2m_config.yml
github_user.yaml

# Ignore a few specific files


# I want to avoid the files which I've downloaded
*.asc
*.bat
*.cnv
*.doc[x]
*.odt
*.hex
*.XMLCON
*.cal
*.log
*.hdr
*.bl
*.psa
*.dsa
*.pdf
*.XML
*.xml
*.txt
*.bat
*.metadata
*.PNG
*.png
*.odp
*~lock.*
*.zip
